*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.berani {
    background-color: blue;
    color: white;
}

.jomblo {
    background-color: pink;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.info {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    animation: jedagJedug .5s infinite;
}

@keyframes jedagJedug {
    0% { font-size: 16px; }
    50% { font-size: 18px; }
    100% { font-size: 16px; } 
}

nav {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    padding: 15px;
}

nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}